body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color:#fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #444;
}

#binky {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  background-color: transparent;
}

#binky.minimized .binky-image,
#binky.minimized .speech-bubble {
  display: none;
}

#binky .control-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  z-index: 1001;
}

.binky-image {
  width: 100%;
  border-radius: 50%;
}

.speech-bubble {
  margin-top: 10px;
  background-color: #ffeb3b;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card-header {
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card {
  background-color: #000;
  border: none;
  border-radius: 1rem;
}

.card-header {
  background-color: #000;
  padding: 1rem;
}

.content-box {
  background: transparent;
  padding: 10px;
}

.control-btn
{
  background: #fff;
}

iframe {
  width: 100%;
  height: 500px;
  border: none;
}

#title {
  font-family: "Times New Roman", Times, serif;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

.speech-bubble
{
  color: #000;
}